argon2-cffi 
async-generator 
attrs 
backcall 
bleach 
Bottleneck 
certifi==2021.10.8
cffi 
cycler==0.11.0
debugpy 
decorator
defusedxml
entrypoints==0.3
fonttools==4.29.1
importlib-metadata 
ipykernel 
ipython 
ipython-genutils
ipywidgets 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab
jupyterlab-link-share
kiwisolver==1.3.2
MarkupSafe
matplotlib==3.5.1
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
nbclient
nbconvert
nbformat 
nest-asyncio 
notebook 
numexpr 
numpy 
packaging 
pandas==1.3.5
pandocfilters
parso 
pexpect 
pickleshare 
Pillow==9.0.1
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser 
Pygments 
pyparsing 
pyrsistent 
python-dateutil 
pytz==2021.3
pyzmq 
qtconsole 
QtPy 
regex==2022.1.18
scikit-learn 
scipy
Send2Trash 
sip>=4.19.2
six
sklearn==0.0
terminado 
testpath
threadpoolctl 
tornado 
traitlets 
wcwidth
webencodings==0.5.1
widgetsnbextension 
zipp

